<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-img">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="register()">Register</ion-button>
</div>
</ion-content>
